*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow: hidden;
}

.press{
    text-align: center;

}



.main{
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    top: 50%;
    width: 100%;
    position: absolute;
}

.main h1{

    font-size: 8vmax;
    text-transform: uppercase;
    margin-top: 80px;
    
}

.main p{
    font-size: 1.5vmax;
    margin: 20px auto;
    font-weight: 300;
    line-height: 25px;
    text-transform:uppercase;
}



.btn {
    background-color: #bfe2ff;
    padding: 12px 16px;
    font-size: 16px;

}

button{
    width: 200px;
    padding: 15px 0px;
    margin: 20px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid #78aed3;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

button span{
    background: #aac9dd;
    height: 100%;
    width: 0;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.btn:hover {
    background-color: #8fd3fe;
}

button:hover {
    border: none;
    color: bisque;
}

button:hover span{
    width: 100%;
}


.navigation{
    height: 100%;
    width: 250px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-250px);

}

.navigation .head{
    color: darkslateblue;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(45deg,#f0f8ff,lightblue);
}

ul{
    width: 100%;
    list-style: none;

}

ul li{
    display: block;
    width: 100%;

}

ul li a{
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;

}

ul li a i{
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30x;
}

ul li:hover a{
    background: black;
    color: #00eaff;
    letter-spacing: 5px;
}

input{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}



#bars{
    background:#1e3f66;
}

#check:checked ~ .navigation{
    transform: translateX(0);
}

#check:checked ~ .navigation #bars{
    display: none;
}

section{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    filter: brightness(100%);
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-light-layers-5k-1920x1200-5898.jpg);
}

#check:checked ~ section{
    transform: scale(1.2);
    filter: brightness(50%);
}

label span{
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;
}