*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.aboutme{
    text-align: justify;
    margin-left: 12%;
    transform: translateY(0);
    color: #fff;
    top: 5%;
    width: 60%;
    position: absolute;
}




.aboutme h1::after{
    content: '';
    height: 3px;
    width: 100%;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.aboutme h1{
    font-size: 5.5vmax;
    text-transform: uppercase;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    
}

.aboutme p{
    font-size: 2vmax;
    margin: 20px auto;
    font-weight: bold;    
    line-height: 3vmax;
}



.aboutme button{
    width: 160px;
    padding: 12px 0px;
    margin: 20px 10px;
    text-align: center;
    font-size: 1.6vmax;
    font-weight: bold;
    border-radius: 35px;
    border: 2px solid #78aed3;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.aboutme button span{
    background: lightblue;
    opacity: 30%;
    height: 100%;
    width: 0;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}


.aboutme button:hover {
    border: none;
    color: bisque;
}

.aboutme button:hover span{
    width: 100%;
}


.main{
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    top: 50%;
    width: 100%;
    position: absolute;
}

.main h1{

    font-size: 9vmax;
    text-transform: uppercase;
    margin-top: 80px;
    font-weight: 600;
    transition: 0.5s;
    color: #fff;
    -webkit-text-stroke: 2px #fff;
}



.main h1:hover{
    color: transparent;
}

.main p{
    font-size: 2.5vmax;
    margin: 10px auto;
    font-weight: bold;
    line-height: 3vmax;
    text-transform:uppercase;
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
}


.main button{
    width: 200px;
    padding: 15px 0px;
    margin: 20px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid #78aed3;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.main button span{
    background: #aac9dd;
    height: 100%;
    width: 0;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}


.main button:hover {
    border: none;
    color: bisque;
}

.main button:hover span{
    width: 100%;
}


.navigation{
    height: 100%;
    width: 250px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-250px);

}

.navigation .head{
    color: darkslateblue;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(45deg,#f0f8ff,lightblue);
}

ul{
    width: 100%;
    list-style: none;

}

ul li{
    display: block;
    width: 100%;

}

ul li a{
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;

}

ul li a i{
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30x;
}

ul li:hover a{
    background: black;
    color: #00eaff;
    letter-spacing: 5px;
}

input{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}



#bars{
    background:#1e3f66;
}

#check:checked ~ .navigation{
    transform: translateX(0);
}

#check:checked ~ .navigation #bars{
    display: none;
}

section{
    overflow: auto;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    filter: brightness(100%);
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-light-layers-5k-1920x1200-5898.jpg);
}



#check:checked ~ section{
    transform: scale(1.2);
    filter: brightness(50%);
}

label span{
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;
}

.header h1{

    font-size: 9vmax;
    text-transform: uppercase;
    margin-top: 4%;
    font-weight: 600;
    transition: 0.5s;
    
}

.header{
    text-align: center;
    width: 100%;
    position: fixed;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content{
    margin: 18% 10%;
    width: 80%;
    padding: 10px 40px;
    text-align: left;
    font-size: 1.6vmax;
    font-weight: bold;
    border-radius: 35px;
    border: 2px solid #78aed3;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: fixed;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 2.2vmax;
}


.content li{
    list-style: none;
}

.content li a{
    color: #fff;
    text-decoration: none;

}

.maths h1{
    width: 50%;
    translate: 50%;
    font-size: 4vmax;
    text-transform: uppercase;
    margin-top: 4%;
    font-weight: 600;
    transition: 0.5s
}

.maths{
    margin: auto;
    text-align: center;
    width: 100%;
    position: fixed;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.mathscontent{
    margin: 17% 10%;
    width: 50%;
    padding: 10px 40px;
    text-align: left;
    font-size: 1.4vmax;
    border-radius: 35px;
    border: 2px solid #78aed3;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    cursor: pointer;
    position: fixed;
    overflow: hidden;
    line-height: 2.2vmax;
}